@charset "UTF-8";
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.primary-normal {
  color: #E91A23;
}

.primary-dark {
  color: #D6060F;
}

.primary-light {
  color: #F7343C;
}

.white-normal {
  color: #FAEFEF;
}

.white-dark {
  color: #EDDDDD;
}

.black-normal {
  color: #020000;
}

.black-light {
  color: #260404;
}

.navbar-desktop {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .navbar-desktop {
    display: none;
  }
}

.navbar-mobile {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
@media screen and (max-width: 960px) {
  .navbar-mobile {
    display: flex;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 32px 18px;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-auto {
  flex: 1 1 auto;
}

.width-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

.mobile {
  display: none;
}
@media screen and (max-width: 540px) {
  .mobile {
    display: flex;
  }
}

.tablet {
  display: none;
}
@media screen and (max-width: 960px) {
  .tablet {
    display: flex;
  }
}

@media screen and (max-width: 960px) {
  .desktop {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .desktop {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  ´ .desktop-tablet {
    display: none;
  }
}

.menu-bg {
  position: relative;
}
.menu-bg .icon-menu-bg {
  position: relative;
  width: 32px;
  transition: 0.7s ease;
}
.menu-bg .icon-menu-bg::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0px;
  width: 32px;
  height: 4px;
  background-color: #EDDDDD;
  border-radius: 4px;
  transition: 0.7s ease;
}
.menu-bg .icon-menu-bg::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 0px;
  width: 32px;
  height: 4px;
  background-color: #EDDDDD;
  border-radius: 4px;
  transition: 0.7s ease;
}
.menu-bg .icon-menu-bg-active::after {
  transform: translateY(-4px) rotate(405deg);
}
.menu-bg .icon-menu-bg-active::before {
  transform: translateY(4px) rotate(-405deg);
}
@media screen and (max-width: 960px) {
  .menu-bg .nav-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: -30px;
    height: 0;
    overflow: hidden;
    text-align: right;
    padding: 0px;
    margin-top: 8px;
    z-index: 99;
    background: rgba(38, 4, 4, 0.64);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 16px;
    transition: 0.5s ease;
  }
  .menu-bg .nav-menu a {
    display: block;
    padding: 4px 0;
  }
}
.menu-bg .nav-menu-active {
  display: block;
  opacity: 1;
  padding: 8px;
  height: 125px;
  overflow: auto;
}

@media screen and (max-width: 960px) {
  .hero h2, .hero p {
    text-align: center;
  }
}

.bg-main {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -999;
}
.bg-main::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(306.48deg, #020000 22.12%, #020000 22.13%, rgba(38, 4, 4, 0.72) 50.78%, #020000 80.19%);
}

.video {
  position: absolute;
  top: 0;
  left: 0px;
}
@media screen and (max-width: 960px) {
  .video {
    height: 100vh;
    left: -200px;
  }
}

.main {
  height: 80vh;
  padding: 0px 24px 36px 24px;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .main {
    height: auto;
  }
}

.logo-hero {
  max-width: 320px;
  transform: translate(5%, 20%);
}
@media screen and (max-width: 960px) {
  .logo-hero {
    width: 65%;
    transform: translate(0%, 0%);
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 960px) {
  .text-hero {
    transform: translate(0%, -20%);
  }
}

.character-hero {
  position: relative;
  width: 100%;
  transform: translate(-13%, 6%);
}
@media screen and (max-width: 960px) {
  .character-hero {
    transform: translate(0%, -13%);
    width: 80%;
  }
}
@media screen and (max-width: 540px) {
  .character-hero {
    transform: translate(0%, -25%);
    width: 90%;
  }
}
@media screen and (max-width: 380px) {
  .character-hero {
    display: none;
  }
}

.character-2 {
  position: absolute;
  left: 0;
  top: -25px;
  width: 110%;
}
@media screen and (max-width: 960px) {
  .character-2 {
    left: -20px;
    top: -30px;
  }
}

.character-3 {
  position: absolute;
  left: 0;
  top: 30px;
  width: 115%;
}
@media screen and (max-width: 960px) {
  .character-3 {
    left: -20px;
    top: 0px;
  }
}

.character-1 {
  animation: character-opacity-1 25s ease infinite alternate both;
}

.character-2 {
  animation: character-opacity-2 25s ease infinite alternate both;
}

.character-3 {
  animation: character-opacity-3 25s ease infinite alternate both;
}

@media screen and (max-width: 960px) {
  .logo {
    width: 12%;
  }
}

.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: linear-gradient(107.56deg, #260404 0%, #020000 100%);
}

.logo-loading {
  width: 196px;
}
@media screen and (max-width: 960px) {
  .logo-loading {
    width: 30%;
  }
}
.logo-loading svg {
  filter: drop-shadow(0px 4px 80px rgba(247, 247, 247, 0.64)) drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.9));
  animation: logo-loading-shadow 7s ease 0s 1 normal both;
}

.loading-svg {
  animation: logo-loading 7s ease 0s 1 normal both;
}
.loading-svg .stroke-svg {
  animation: logo-stroke 7s ease 0s 1 normal both;
}

h1 {
  color: #020000;
  font-family: "Mukta", sans-serif;
  font-size: 64px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Mukta", sans-serif;
    font-size: 36px;
    line-height: 100%;
  }
}

h2 {
  color: #020000;
  font-family: "Mukta", sans-serif;
  font-size: 52px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Mukta", sans-serif;
    font-size: 36px;
    line-height: 100%;
  }
}
@media screen and (max-width: 540px) {
  h2 {
    font-family: "Mukta", sans-serif;
    font-size: 36px;
    line-height: 100%;
  }
}

h3 {
  color: #020000;
  font-family: "Mukta", sans-serif;
  font-size: 36px;
  line-height: 120%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Mukta", sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #020000;
  font-family: "Mukta", sans-serif;
  font-size: 24px;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

h5 {
  text-transform: uppercase;
  background: linear-gradient(220.94deg, #a950c4 14.43%, #82269e 85.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Mukta", sans-serif;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Mukta", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

p {
  color: #767576;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}
@media screen and (max-width: 540px) {
  p {
    font-family: "Mukta", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
  color: #260404;
}

strong {
  color: #020000;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  strong {
    font-family: "Mukta", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

a {
  display: inline-block;
  font-family: "Ledger", Courier, monospace;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-menu .menu-item a {
  position: relative;
  color: #F7ECEC;
  transition: 0.5s ease;
}
.nav-menu .menu-item a::after {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  width: 0%;
  height: 1.5px;
  background: linear-gradient(90.01deg, rgba(206, 24, 32, 0) -0.95%, #E01A23 31.91%, rgba(202, 24, 31, 0) 118.1%);
  filter: drop-shadow(0px 0px 2px #E91B24);
  transform: matrix(0.97, 0.26, 0.39, 0.92, 0, 0);
  transition: 0.5s ease;
}
@media screen and (max-width: 960px) {
  .nav-menu .menu-item a::after {
    left: 10px;
  }
}
.nav-menu .menu-item a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0%;
  height: 2px;
  background: linear-gradient(90.01deg, rgba(206, 24, 32, 0) -0.95%, #E01A23 31.91%, rgba(202, 24, 31, 0) 118.1%);
  filter: drop-shadow(0px 0px 2px #E91B24);
  transform: matrix(0.99, -0.14, 0.72, 0.7, 0, 0);
  transition: 0.5s ease;
  transition-delay: 0.1s;
}
@media screen and (max-width: 960px) {
  .nav-menu .menu-item a::before {
    left: 8px;
  }
}
.nav-menu .menu-item a:hover {
  transform: scale(1.02) translateY(-1px);
  color: #F7ECEC;
}
.nav-menu .menu-item a:hover::after {
  width: 100%;
}
.nav-menu .menu-item a:hover::before {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .buttons {
    align-self: center;
  }
}

.btn-1 {
  position: relative;
  padding: 16px 24px;
  background: linear-gradient(164.34deg, #E91B24 10.24%, #820F13 89.51%);
  box-shadow: inset 0px -4px 16px rgba(1, 0, 0, 0.64);
  border-radius: 3px;
  color: #FAEFEF;
  font-size: 12px;
  text-align: center;
  transform: skewX(-10deg);
  transition: 0.7s ease;
}
.btn-1::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -2px;
  right: -2px;
  width: 20%;
  height: 60%;
  border-radius: 3px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  opacity: 0;
  transition: 0.7s ease;
}
.btn-1::before {
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  left: -2px;
  width: 20%;
  height: 60%;
  border-radius: 3px;
  border-top: 3px solid white;
  border-left: 3px solid white;
  opacity: 0;
  transition: 0.7s ease;
}
.btn-1:hover {
  transform: skewX(-10deg) scale(1.03);
}
.btn-1:hover::before {
  opacity: 1;
}
.btn-1:hover::after {
  opacity: 1;
}
@media screen and (max-width: 960px) {
  .btn-1 {
    padding: 16px 16px;
    font-size: 14px;
  }
}
@media screen and (max-width: 540px) {
  .btn-1 {
    padding: 14px 14px;
    font-size: 10px;
  }
}

.btn-2 {
  position: relative;
  padding: 13px 24px;
  border: 2px solid #830F13;
  border-radius: 3px;
  color: #FAEFEF;
  font-size: 12px;
  text-align: center;
  transform: skewX(-10deg);
  transition: 0.7s ease;
}
.btn-2::before {
  content: "";
  position: absolute;
  display: block;
  background: linear-gradient(164.34deg, #E91B24 10.24%, #820F13 89.51%);
  box-shadow: inset 0px -4px 16px rgba(1, 0, 0, 0.64);
  top: -1px;
  left: -2px;
  width: 0%;
  height: 106%;
  z-index: -1;
  transition: 0.7s ease;
}
.btn-2:hover::before {
  width: 102%;
}
@media screen and (max-width: 960px) {
  .btn-2 {
    padding: 13px 16px;
    font-size: 14px;
  }
}
@media screen and (max-width: 540px) {
  .btn-2 {
    padding: 11px 14px;
    font-size: 12px;
  }
}
@media screen and (max-width: 380px) {
  .btn-2 {
    padding: 12px 12px;
    font-size: 10px;
  }
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 24px;
}

.m-4 {
  margin: 32px;
}

.m-5 {
  margin: 48px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.mt-5 {
  margin-top: 48px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 24px;
}

.ml-4 {
  margin-left: 32px;
}

.ml-5 {
  margin-left: 48px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 24px;
}

.mr-4 {
  margin-right: 32px;
}

.mr-5 {
  margin-right: 48px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 48px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 24px;
  margin-right: 24px;
}

.mx-4 {
  margin-left: 32px;
  margin-right: 32px;
}

.mx-5 {
  margin-left: 48px;
  margin-right: 48px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-5 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 24px;
}

.p-4 {
  padding: 32px;
}

.p-5 {
  padding: 48px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 24px;
}

.pt-4 {
  padding-top: 32px;
}

.pt-5 {
  padding-top: 48px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 24px;
}

.pl-4 {
  padding-left: 32px;
}

.pl-5 {
  padding-left: 48px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 24px;
}

.pr-4 {
  padding-right: 32px;
}

.pr-5 {
  padding-right: 48px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 24px;
}

.pb-4 {
  padding-bottom: 32px;
}

.pb-5 {
  padding-bottom: 48px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-4 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-5 {
  padding-left: 48px;
  padding-right: 48px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-5 {
  padding-top: 48px;
  padding-bottom: 48px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background: linear-gradient(306.48deg, #020000 22.12%, #020000 22.13%, #020000 80.19%);
}
@media screen and (max-width: 960px) {
  body {
    overflow: hidden;
  }
}

svg {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

.border {
  border: 1px solid red;
}

.networks-item {
  width: 48px;
  height: 48px;
  padding: 0.675rem;
  color: transparent;
  transition: all 0.5s ease;
  z-index: 1;
}
.networks-item svg path {
  fill-opacity: 1;
  cursor: pointer;
  transition: all 0.5s ease;
}
.networks-item:hover {
  transform: scale(1.03) translateY(-1.5px);
}
.networks-item:hover svg path {
  fill: #D6060F;
}

.icon-netflix {
  transform: translateX(-10%);
  cursor: pointer;
  transition: all 0.5s ease;
}
.icon-netflix:hover {
  transform: scale(1.03) translateX(-10%) translateY(-1px);
}
@media screen and (max-width: 960px) {
  .icon-netflix {
    align-self: center;
    max-width: 160px;
    margin: 16px 0 8px 0;
  }
}

@keyframes logo-loading {
  0% {
    fill-opacity: 0;
    stroke-width: 1;
    stroke-opacity: 1;
    stroke-dasharray: 0 250;
    stroke-dashoffset: 50;
  }
  70% {
    fill-opacity: 0;
    stroke-width: 1;
    stroke-opacity: 1;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 200;
  }
  90%, 100% {
    fill-opacity: 1;
    stroke-width: 0;
    stroke-opacity: 0;
    stroke-dasharray: 150 25;
    stroke-dashoffset: 200;
  }
}
@keyframes logo-stroke {
  0% {
    stroke-width: 0;
  }
  40% {
    stroke-width: 1;
  }
  100% {
    stroke-width: 5;
  }
}
@keyframes logo-loading-shadow {
  0%, 20% {
    filter: drop-shadow(0px 4px 80px rgba(247, 247, 247, 0)) drop-shadow(0px 4px 20px rgba(209, 4, 12, 0));
  }
  40%, 50% {
    filter: drop-shadow(0px 4px 50px rgba(247, 247, 247, 0.32)) drop-shadow(0px 4px 20px rgba(209, 4, 12, 0.24));
  }
  70% {
    filter: drop-shadow(0px 4px 80px rgba(247, 247, 247, 0)) drop-shadow(0px 4px 20px rgba(209, 4, 12, 0));
  }
  100% {
    filter: drop-shadow(0px 4px 80px rgba(247, 247, 247, 0.5)) drop-shadow(0px 4px 20px rgba(209, 4, 12, 0.32)) drop-shadow(0px 0px 2px #D1040C);
  }
}
@keyframes character-opacity-1 {
  0%, 30% {
    opacity: 0;
    pointer-events: none;
  }
  35%, 65% {
    display: flex;
    opacity: 1;
    pointer-events: all;
  }
  70%, 100% {
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes character-opacity-2 {
  0%, 30% {
    display: flex;
    opacity: 1;
    pointer-events: all;
  }
  35%, 65% {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
  70%, 100% {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes character-opacity-3 {
  0%, 30% {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
  35%, 65% {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
  70%, 100% {
    display: flex;
    opacity: 1;
    pointer-events: all;
  }
}/*# sourceMappingURL=style.css.map */