
@keyframes character-opacity-1 {
    0%,30%{
        display: flex;
        opacity: 1;
        pointer-events: all;
    }
    40%,65%{
        display: none;
        opacity: 0;
        pointer-events: none;
    }
    75%,100%{
        display: none;
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes character-opacity-2 {
    0%,30%{
        display: none;
        opacity: 0;
        pointer-events: none;
    }
    40%,65%{
        display: flex;
        opacity: 1;
        pointer-events: all;
    }
    75%,100%{
        display: none;
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes character-opacity-3 {
    0%,30%{
        display: none;
        opacity: 0;
        pointer-events: none;
    }
    40%,65%{
        display: none;
        opacity: 0;
        pointer-events: none;
    }
    75%,100%{
        display: flex;
        opacity: 1;
        pointer-events: all;
    }
}