// Colors of project

// Brand-colors
$primary-normal: #E91A23;
$primary-dark: #D6060F;
$primary-light: #F7343C;

$secondary-normal: #a950c4;
$secondary-dark: #9142a8;
$secondary-light: #bb71d2;

// Neutral-colors
$black-normal: #020000;
// $black-dark: #161617;
$black-light: #260404;

$white-normal: #FAEFEF;
$white-dark: #EDDDDD;
// $white-light: #fefbff;

// Gray Scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;

// Auxiliary colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #32d957;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;


.primary-normal{
    color: $primary-normal;
}
.primary-dark{
    color: $primary-dark;
}
.primary-light{
    color: $primary-light;
}

.white-normal{
    color: $white-normal;
}
.white-dark{
    color: $white-dark;
}
.black-normal{
    color: $black-normal;
}
.black-light{
    color: $black-light;
}
