.networks-item{
    width: 40px;
    height: 40px;
    padding: .5rem;
    color: transparent;
    // border: 1px solid red;
    transition: all .5s ease;
    svg{
        path{
            fill-opacity: 1;
            cursor: pointer;
            transition: all .5s ease;
        }
    }
    &:hover{
        transform: scale(1.03) translateY(-1.5px);
        svg{
            path{
                fill: #D6060F;
            }
        }
        
    }
}

.icon-netflix{
    transform: translateX(-10%);
    cursor: pointer;

    transition: all .5s ease;
    &:hover{
        transform: scale(1.03) translateX(-10%) translateY(-1px);
    }
}