// Layout of project

// Container-devices
$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

// Mixin of media-queries
@mixin responsive($device) {
  @if $device == xl {
    // For resolutions upper 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  } @else if $device == l {
    // For resolutions between 1140px and 1440px
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  } @else if $device == m {
    // For resolutions between 960px and 1440px
    @media screen and (max-width: $container-l) and (min-width: $container-s) {
      @content;
    }
  } @else if $device == s {
    // For resolutions less than 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  } @else if $device == xs {
    // For resolutions less than 540px
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}
.navbar-desktop {
  max-width: $container-xl;
  margin: 0 auto;
  padding: 10px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  // @include responsive(s) {
  //   display: none;
  // }
}
.navbar-mobile {
  max-width: $container-xl;
  margin: 0 auto;
  
  padding: 10px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  display: none;

  @include responsive(s) {
    display: flex;
  }
}
.container {
  max-width: $container-xl;
  margin: 0 auto;

  padding: 96px 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  @include responsive(s) {
    flex-direction: column;

    padding: 32px 18px;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
.justify-between{
  justify-content: space-between;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}
.align-self-start{
  align-self: flex-start;
}
.align-self-end{
  align-self: flex-end;
}
.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-auto {
  flex: 1 1 auto;
}

// Width's
.width-auto {
  width: auto;
}
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}


//HERO

//BG-HERO
.bg-main{
  width: 100%;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -999;

  &::after{
    content: "";
    position: absolute;
    display: block;

    width: 100%;
    height: 100vh;

    top: 0;
    left: 0;

    background: linear-gradient(306.48deg, #020000 22.12%, #020000 22.13%, rgba(38, 4, 4, 0.72) 50.78%, #020000 80.19%);
  
  }
}

.video{
  position: absolute;
  top: 0;
  left: -250px;
}

//Main 
.main { 
  height: 80%;
  padding: 0px 24px 36px 24px;

  overflow: hidden;
}

// .hero{
//   transform: translateY(-10%);
// }

.logo-hero{
  max-width: 320px;
  transform: translate(5%,20%);
}


.character-hero{
  position: relative;
  // background-color: white;

  width: 100%;

  transform: translate(-13%,6%);

}

.character-2{
  position: absolute;
  left: 0;
  top: -25px;

  width: 110%;
}

.character-3{
  position: absolute;
  left: 0;
  top: 30px;

  width: 115%;
}

.character-1{
  animation: character-opacity-1 20s ease infinite alternate both;
}

.character-2{
  animation: character-opacity-2 20s ease infinite alternate both;
}

.character-3{
  animation: character-opacity-3 20s ease infinite alternate both;
}